In [39]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from category_encoders import LeaveOneOutEncoder
from category_encoders.wrapper import NestedCVWrapper

In [2]:
train_dataset = pd.read_csv('../dataset/train.csv', index_col=0)
test_dataset = pd.read_csv('../dataset/test.csv', index_col=0)
dataset = pd.concat([test_dataset, train_dataset])
#dataset = dataset.drop('target', axis=1)
dataset.sort_index(inplace=True)
dataset

      keyword location                                               text
id
0         NaN      NaN                 Just happened a terrible car crash
1         NaN      NaN  Our Deeds are the Reason of this #earthquake M...
2         NaN      NaN  Heard about #earthquake is different cities, s...
3         NaN      NaN  there is a forest fire at spot pond, geese are...
4         NaN      NaN             Forest fire near La Ronge Sask. Canada
...       ...      ...                                                ...
10871     NaN      NaN  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
10872     NaN      NaN  Police investigating after an e-bike collided ...
10873     NaN      NaN  The Latest: More Homes Razed by Northern Calif...
10874     NaN      NaN  MEG issues Hazardous Weather Outlook (HWO) htt...
10875     NaN      NaN  #CityofCalgary has activated its Municipal Eme...

[10876 rows x 3 columns]

In [3]:
dataset['has_keyword'] = dataset['keyword'].notnull().apply(lambda x: 1 if x else 0)

In [4]:
dataset['keyword'] = dataset['keyword'].fillna('no_keyword')

In [5]:
keyword_count = dataset[['keyword', 'has_keyword']].groupby('keyword').count()
dataset['keyword_count'] = dataset['keyword'].apply(lambda x: keyword_count.loc[x])
keyword_value_count = len(keyword_count)
dataset['keyword_mean'] = dataset['keyword'].apply(lambda x: keyword_count.loc[x] / keyword_value_count)

In [99]:
dataset['keyword_in_text'] = dataset.apply(lambda row: row['keyword'].lower() in row['text'].lower(), axis='columns')

In [100]:
dataset.head(50)

,keyword,location,text,has_keyword,keyword_count,keyword_mean,keyword_in_text
id,,,,,,,
0,no_keyword,NaN,Just happened a terrible car crash,0,87,0.391892,False
1,no_keyword,NaN,Our Deeds are the Reason of this #earthquake M...,0,87,0.391892,False
2,no_keyword,NaN,"Heard about #earthquake is different cities, s...",0,87,0.391892,False
3,no_keyword,NaN,"there is a forest fire at spot pond, geese are...",0,87,0.391892,False
4,no_keyword,NaN,Forest fire near La Ronge Sask. Canada,0,87,0.391892,False
5,no_keyword,NaN,All residents asked to 'shelter in place' are ...,0,87,0.391892,False
6,no_keyword,NaN,"13,000 people receive #wildfires evacuation or...",0,87,0.391892,False
7,no_keyword,NaN,Just got sent this photo from Ruby #Alaska as ...,0,87,0.391892,False
8,no_keyword,NaN,#RockyFire Update => California Hwy. 20 closed...,0,87,0.391892,False
9,no_keyword,NaN,Apocalypse lighting. #Spokane #wildfires,0,87,0.391892,False
10,no_keyword,NaN,#flood #disaster Heavy rain causes flash flood...,0,87,0.391892,False
11,no_keyword,NaN,Typhoon Soudelor kills 28 in China and Taiwan,0,87,0.391892,False
12,no_keyword,NaN,We're shaking...It's an earthquake,0,87,0.391892,False
13,no_keyword,NaN,I'm on top of the hill and I can see a fire in...,0,87,0.391892,False
14,no_keyword,NaN,There's an emergency evacuation happening now ...,0,87,0.391892,False
15,no_keyword,NaN,I'm afraid that the tornado is coming to our a...,0,87,0.391892,False
16,no_keyword,NaN,Three people died from the heat wave so far,0,87,0.391892,False
17,no_keyword,NaN,Haha South Tampa is getting flooded hah- WAIT ...,0,87,0.391892,False
18,no_keyword,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,0,87,0.391892,False
19,no_keyword,NaN,#Flood in Bago Myanmar #We arrived Bago,0,87,0.391892,False
20,no_keyword,NaN,Damage to school bus on 80 in multi car crash ...,0,87,0.391892,False
21,no_keyword,NaN,They'd probably still show more life than Arse...,0,87,0.391892,False
22,no_keyword,NaN,Hey! How are you?,0,87,0.391892,False
23,no_keyword,NaN,What's up man?,0,87,0.391892,False
24,no_keyword,NaN,I love fruits,0,87,0.391892,False
25,no_keyword,NaN,Summer is lovely,0,87,0.391892,False
26,no_keyword,NaN,My car is so fast,0,87,0.391892,False
27,no_keyword,NaN,What a nice hat?,0,87,0.391892,False
28,no_keyword,NaN,What a goooooooaaaaaal!!!!!!,0,87,0.391892,False
29,no_keyword,NaN,Fuck off!,0,87,0.391892,False
30,no_keyword,NaN,No I don't like cold!,0,87,0.391892,False
31,no_keyword,NaN,this is ridiculous....,0,87,0.391892,False
32,no_keyword,NaN,London is cool ;),0,87,0.391892,False
33,no_keyword,NaN,Love skiing,0,87,0.391892,False
34,no_keyword,NaN,What a wonderful day!,0,87,0.391892,False
35,no_keyword,NaN,NOOOOOOOOO! Don't do that!,0,87,0.391892,False
36,no_keyword,NaN,LOOOOOOL,0,87,0.391892,False
37,no_keyword,NaN,No way...I can't eat that shit,0,87,0.391892,False
38,no_keyword,NaN,Was in NYC last week!,0,87,0.391892,False
39,no_keyword,NaN,Love my girlfriend,0,87,0.391892,False
40,no_keyword,NaN,Cooool :),0,87,0.391892,False
41,no_keyword,NaN,Do you like pasta?,0,87,0.391892,False
42,no_keyword,NaN,No don't tell me that!,0,87,0.391892,False
43,no_keyword,NaN,What if?!,0,87,0.391892,False
44,no_keyword,NaN,The end!,0,87,0.391892,False
45,no_keyword,NaN,Awesome!,0,87,0.391892,False
46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...,1,50,0.225225,True
47,ablaze,Niall's place | SAF 12 SQUAD |,@sunkxssedharry will you wear shorts for race ...,1,50,0.225225,True
48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1,50,0.225225,True
49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,1,50,0.225225,False

In [80]:
enc_nested = NestedCVWrapper(LeaveOneOutEncoder(cols=['keyword']), random_state=42)

X_train_enc, X_test_enc = enc_nested.fit_transform(train_dataset[['keyword']].fillna("no_keyword"), train_dataset['target'], X_test=test_dataset[['keyword']].fillna("no_keyword"))
X_train_enc = X_train_enc.set_index(train_dataset.index)

/home/fransic/Personal/Facultad/1c2020/datos/tps/datos-tp2/venv/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/fransic/Personal/Facultad/1c2020/datos/tps/datos-tp2/venv/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/fransic/Personal/Facultad/1c2020/datos/tps/datos-tp2/venv/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/fransic/Personal/Facultad/1c2020/datos/tps/datos-tp2/venv/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/fransic/Personal/Facultad/1c2020/datos/tps/datos-tp2/venv/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/home/fransic/Personal/Facultad/1c2020/datos/tps/datos-tp2/venv/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [83]:
X_train_enc

        keyword
id
1      0.660000
4      0.702128
5      0.702128
6      0.702128
7      0.652174
...         ...
10869  0.652174
10870  0.652174
10871  0.652174
10872  0.652174
10873  0.666667

[7613 rows x 1 columns]

In [79]:
X_test_enc

        keyword
id
0      0.688525
2      0.688525
3      0.688525
9      0.688525
11     0.688525
...         ...
10861  0.688525
10865  0.688525
10868  0.688525
10874  0.688525
10875  0.688525

[3263 rows x 1 columns]

In [101]:
features = dataset[['has_keyword',	'keyword_count', 'keyword_mean', 'keyword_in_text']].merge(pd.concat([X_train_enc, X_test_enc]), left_index=True, right_index=True)
features = features.rename(columns={'keyword': 'encoded_keyword'})
features.head(50)

    has_keyword  keyword_count  keyword_mean  keyword_in_text  encoded_keyword
id
0             0             87      0.391892            False         0.688525
1             0             87      0.391892            False         0.660000
2             0             87      0.391892            False         0.688525
3             0             87      0.391892            False         0.688525
4             0             87      0.391892            False         0.702128
5             0             87      0.391892            False         0.702128
6             0             87      0.391892            False         0.702128
7             0             87      0.391892            False         0.652174
8             0             87      0.391892            False         0.660000
9             0             87      0.391892            False         0.688525
10            0             87      0.391892            False         0.660000
11            0             87      0.391892            False         0.688525
12            0             87      0.391892            False         0.688525
13            0             87      0.391892            False         0.666667
14            0             87      0.391892            False         0.702128
15            0             87      0.391892            False         0.702128
16            0             87      0.391892            False         0.660000
17            0             87      0.391892            False         0.660000
18            0             87      0.391892            False         0.652174
19            0             87      0.391892            False         0.765957
20            0             87      0.391892            False         0.652174
21            0             87      0.391892            False         0.688525
22            0             87      0.391892            False         0.688525
23            0             87      0.391892            False         0.652174
24            0             87      0.391892            False         0.765957
25            0             87      0.391892            False         0.666667
26            0             87      0.391892            False         0.765957
27            0             87      0.391892            False         0.688525
28            0             87      0.391892            False         0.765957
29            0             87      0.391892            False         0.688525
30            0             87      0.391892            False         0.688525
31            0             87      0.391892            False         0.660000
32            0             87      0.391892            False         0.702128
33            0             87      0.391892            False         0.702128
34            0             87      0.391892            False         0.652174
35            0             87      0.391892            False         0.688525
36            0             87      0.391892            False         0.660000
37            0             87      0.391892            False         0.652174
38            0             87      0.391892            False         0.765957
39            0             87      0.391892            False         0.702128
40            0             87      0.391892            False         0.765957
41            0             87      0.391892            False         0.765957
42            0             87      0.391892            False         0.688525
43            0             87      0.391892            False         0.688525
44            0             87      0.391892            False         0.702128
45            0             87      0.391892            False         0.688525
46            1             50      0.225225             True         0.361111
47            1             50      0.225225             True         0.361111
48            1             50      0.225225             True         0.387097
49            1             50      0.225225            False         0.241379

In [95]:
features.to_csv('../features/features_basicas_keyword.csv', index=True)